export(run_app)
import(nemeton)
importFrom(rlang,"%||%")
importFrom(glue,glue)
importFrom(promises,"%...!%")
importFrom(promises,"%...>%")
importFrom(sf,st_area)
importFrom(sf,st_as_sf)
importFrom(sf,st_buffer)
importFrom(sf,st_crs)
importFrom(sf,st_transform)
importFrom(stats,median)
importFrom(stats,sd)
importFrom(utils,download.file)
